Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/ScienceLab/Maps/OverviewMap_BuiltData.uasset
Content/ScienceLab/Maps/OverviewMap_BuiltData.uasset
Content/ScienceLab/Maps/OverviewMap.umap
Content/ScienceLab/Maps/OverviewMap_BuiltData.uasset
Content/ScienceLab/Maps/ScienceLab_Day_01.umap
Content/ScienceLab/Maps/ScienceLab_Day_01_BuiltData.uasset
Content/ScienceLab/Maps/ScienceLab_Day_02.umap
Content/ScienceLab/Maps/ScienceLab_Night_01.umap
